logs/
notebooks/

thinking.txt

tests.txt

src/os_assistant.egg-info/
src/os_assistant/__pycache__/

src/os_assistant/config/__pycache__
src/os_assistant/core/__pycache__/
src/os_assistant/prompts/__pycache__
src/os_assistant/tools/__pycache__
src/os_assistant/utils/__pycache__/

src/os_assistant/core/graphs/__pycache__/
src/os_assistant/core/states/__pycache__/

src/os_assistant/core/graphs/cognition/__pycache__/
src/os_assistant/core/graphs/cognition/nodes/__pycache__/
src/os_assistant/core/graphs/cognition/routing/__pycache__/

src/os_assistant/core/graphs/execution/__pycache__/
src/os_assistant/core/graphs/execution/nodes/__pycache__/
src/os_assistant/core/graphs/execution/routing/__pycache__/

src/os_assistant/core/graphs/memory/__pycache__/
src/os_assistant/core/graphs/memory/nodes/__pycache__/
src/os_assistant/core/graphs/memory/routing/__pycache__/

src/os_assistant/core/graphs/planning/__pycache__/
src/os_assistant/core/graphs/planning/nodes/__pycache__/
src/os_assistant/core/graphs/planning/routing/__pycache__/
