logs/
notebooks/
src/os_assistant/__pycache__/
src/os_assistant/core/__pycache__/
src/os_assistant/core/graph/__pycache__/
src/os_assistant/core/graph/nodes/__pycache__/
src/os_assistant/core/graph/routing/__pycache__/
src/os_assistant/utils/__pycache__/
src/os_assistant/config/__pycache__
src/os_assistant/prompts/__pycache__
src/os_assistant/tools/__pycache__
src/os_assistant.egg-info/
src/os_assistant/core/states/__pycache__/
thinking.txt